// declaring colors
$colors: (
    main: #B4B4B4,
    text: #3E4040,
    lighter-text: rgba(62, 64, 64, 0.582),
    borders-etc: #4B4D4C,
    accent: #4A7254,
    white: #FFFFFF
  );
  @function color($color-name) {
    @return map-get($colors, $color-name);
  }
  $queries: (
    phone: "only screen and (max-width : 425px)",
    tablet: "only screen and (max-width : 768px)",
    computer: "only screen and (max-width : 1440px)",
    4k:  "only screen and (max-width : 2560px)"
  );
  @function responsive($query-size) {
      @return map-get($queries, $query-size);
  }



body { 
    background-color: color(white);
    font-family: 'Avenir', Arial, Sans-serif;
    text-align: center;
    color: color(text);
    max-width: 100%;
    scroll-behavior: smooth;
    margin: 0 auto;
    font-size: 1.2rem;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    overflow: hidden;
}
.landing {
    background-color: color(borders-etc);
    position: fixed;
    left: 0;
    top: 160px;
    border-radius: 10px;
    padding: 10px 10px;
    transform-origin: 100px 0px;
    transform: rotate(90deg);
    color: color(white);
}
.lighter {
    color: color(lighter-text);
}
#articles {
    display: inline-block;
    max-width: 80%;
    height: 100vh;
}
p {
    border-radius: 5px;
    padding: 5px;
}
p:hover {
    text-transform: capitalize;
}
p:nth-child(even) {
    background-color: color(accent);
    color: color(white);
}
p:nth-child(odd) {
    border: solid 3px color(accent);
}
#notes {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.938);
    position: fixed;
    top: 0;
    left: 25%;
    text-shadow: color(accent) 2px 2px 8px;
    color: color(lighter-text);
    text-align: center;
    display: grid;
    margin: 0 auto;
}
textarea, input {
    background-color: rgba(255, 255, 255, 0.938);
    width: 80%;
    margin: 0 auto;
    border: solid 2px color(accent);
    border-radius: 10px;
    text-align: center;
}
input {
    height: 36px;
    font-size: 2rem;
}
textarea {
    height: 200px;
    font-size: 1.5rem;
}

#savenote {
    padding: 5px;
    color: color(white);
    background-color: color(main);
    font-size: 2rem;
    border-radius: 10px;
    text-shadow: color(text) 2px 2px 8px;
    width: 80%;
    margin: 0 auto;
}
